@charset "UTF-8";


:root {
  --primary-color: #084d90;
  --primary-dark-color: #DD566A;
  --gray-light-color: #FFF9FB;
}

.gray-light-color {
  background-color: var(--gray-light-color);
}

button {
  background-color: transparent;
}

.theme-btn.style-one {
  color: #ffffff;
}

/* Hero Section  CSS */
.medolia-hero {
  background-color: var(--gray-light-color);
  padding: 100px 0 30px;
}
.medolia-hero .hero-image {
  margin-right: -200px;
}
@media (max-width: 1650px) {
  .medolia-hero .hero-image {
    margin-right: -80px;
  }
}
@media (max-width: 1399.98px) {
  .medolia-hero .hero-image {
    margin-right: -50px;
  }
}
@media screen and (max-width: 1199.98px) {
  .medolia-hero .hero-image {
    margin-right: 0;
  }
}
.medolia-hero .hero-image img {
  border-radius: 10px;
}
.medolia-hero .hero-content {
  padding-right: 80px;
}
@media screen and (max-width: 1199.98px) {
  .medolia-hero .hero-content {
    padding-right: 0;
  }
}
.medolia-hero .hero-content h1 {
  margin-bottom: 15px;
  font-size: 78px;
  line-height: 85px;
}
@media (max-width: 1650px) {
  .medolia-hero .hero-content h1 {
    font-size: 65px;
    line-height: 75px;
  }
}
@media screen and (max-width: 1199.98px) {
  .medolia-hero .hero-content h1 {
    font-size: 55px;
    line-height: 65px;
  }
}
@media screen and (max-width: 991.98px) {
  .medolia-hero .hero-content h1 {
    font-size: 45px;
    line-height: 55px;
  }
}
@media (max-width: 767.98px) {
  .medolia-hero .hero-content h1 {
    font-size: 30px;
    line-height: 40px;
  }
}
.medolia-hero .hero-content p {
  margin-bottom: 45px;
}
.medolia-hero .hero-content .hero-button-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 767.98px) {
  .medolia-hero .hero-content .hero-button-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.medolia-hero .hero-content .medolia-avatar-box {
  margin-left: 50px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 767.98px) {
  .medolia-hero .hero-content .medolia-avatar-box {
    margin-left: 0;
    margin-top: 30px;
  }
}
.medolia-hero .hero-content .medolia-avatar-box .medolia-avatar ul {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.medolia-hero .hero-content .medolia-avatar-box .medolia-avatar ul li:not(:first-child) {
  margin-left: -15px;
}
.medolia-hero .hero-content .medolia-avatar-box .medolia-avatar ul li img {
  border: 3px solid var(--white-color);
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.medolia-hero .hero-content .medolia-avatar-box .trusted-user {
  margin-left: 20px;
}
.medolia-hero .hero-content .medolia-avatar-box .trusted-user h4 span {
  display: block;
  font-size: 16px;
  font-weight: 500;
  line-height: 1;
}

/* About Section CSS */
.medolia-iconic-left-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 767.98px) {
  .medolia-iconic-left-box {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.medolia-iconic-left-box .icon {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  font-size: 40px;
  color: var(--heading-color);
  background-color: #F7F7F7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 20px;
}
@media (max-width: 767.98px) {
  .medolia-iconic-left-box .icon {
    margin-bottom: 20px;
  }
}
@media (max-width: 767.98px) {
  .medolia-iconic-left-box .content h4 {
    font-size: 22px;
  }
}

.medolia-about-sec .medolia-image-box {
  position: relative;
  margin-right: -30px;
  min-height: 600px;
}
@media (max-width: 1650px) {
  .medolia-about-sec .medolia-image-box {
    margin-right: 0;
  }
}
@media screen and (max-width: 1199.98px) {
  .medolia-about-sec .medolia-image-box {
    margin-right: 0;
  }
}
.medolia-about-sec .medolia-image-box .medolia-image img {
  width: 100%;
  border-radius: 10px;
}
.medolia-about-sec .medolia-image-box .medolia-year-box {
  position: absolute;
  bottom: 0;
  left: 190px;
  background-color: #084d90;
  border-radius: 10px;
  padding: 30px;
  max-width: 220px;
}
@media (max-width: 767.98px) {
  .medolia-about-sec .medolia-image-box .medolia-year-box {
    left: 0;
  }
}
.medolia-about-sec .medolia-image-box .medolia-year-box .icon {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: var(--heading-color);
  color: var(--white-color);
  font-size: 30px;
  margin-bottom: 25px;
}
.medolia-about-sec .medolia-image-box .medolia-year-box .icon i {
  line-height: 1;
}
.medolia-about-sec .medolia-image-box .medolia-year-box .content h4 {
  line-height: 30px;
}
.medolia-about-sec .medolia-content-box {
  padding-left: 110px;
}
@media (max-width: 1650px) {
  .medolia-about-sec .medolia-content-box {
    padding-left: 60px;
  }
}
@media screen and (max-width: 1199.98px) {
  .medolia-about-sec .medolia-content-box {
    padding-left: 0;
  }
}

/* Service Section CSS */
.medolia-services-sec {
  overflow: hidden;
}
.medolia-services-sec .medolia-arrows {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 991.98px) {
  .medolia-services-sec .medolia-arrows {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}
.medolia-services-sec .medolia-arrows .slick-arrow {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid var(--border-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  z-index: 1;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.medolia-services-sec .medolia-arrows .slick-arrow.prev {
  margin-right: 20px;
}
.medolia-services-sec .medolia-arrows .slick-arrow:hover {
  background-color: var(--primary-color);
  color: var(--heading-color);
}

.medolia-service-item {
  background-color: var(--white-color);
  padding: 20px;
  border-radius: 10px;
  max-width: 410px;
}
.medolia-service-item .thumbnail img {
  border-radius: 10px;
}
.medolia-service-item .content {
  position: relative;
  padding: 45px 10px 5px;
}
.medolia-service-item .content .icon {
  position: absolute;
  top: -25px;
  left: 20px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  color: var(--heading-color);
  background-color: var(--primary-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 24px;
  border: 2px solid #EDEBF1;
}
.medolia-service-item .content h4 {
  margin-bottom: 10px;
}
.medolia-service-item .content p {
  margin-bottom: 20px;
}

.service-slider {
  margin-right: -50%;
}
.service-slider .slick-slide {
  margin-right: 30px;
}
@media screen and (max-width: 991.98px) {
  .service-slider .slick-slide {
    margin-right: 12px;
  }
}
@media (max-width: 767.98px) {
  .service-slider {
    margin-right: 0;
  }
}

/* Intro Section CSS */
.medolia-intro-wrapper {
  position: relative;
}
.medolia-intro-wrapper img {
  border-radius: 20px;
  min-height: 350px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center center;
     object-position: center center;
}
.medolia-intro-wrapper .play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.medolia-intro-wrapper .video-popup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  color: var(--heading-color);
  width: 85px;
  height: 85px;
  background-color: var(--primary-color);
}

/* Choose Section CSS */
.medolia-choose-sec .medolia-image img {
  border-radius: 10px;
}
.medolia-choose-sec .medolia-choose-list {
  background-color: var(--gray-light-color);
  padding: 50px;
  border-radius: 20px;
}
.medolia-choose-sec .medolia-choose-list h2 {
  margin-bottom: 20px;
}
@media (max-width: 767.98px) {
  .medolia-choose-sec .medolia-choose-list h2 {
    font-size: 28px;
    line-height: 40px;
  }
}

.medolia-choose-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 767.98px) {
  .medolia-choose-item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}
.medolia-choose-item:not(:last-child) {
  margin-bottom: 35px;
  padding-bottom: 35px;
  border-bottom: 1px solid var(--border-color);
}
.medolia-choose-item .icon {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  background-color: #FFB6C1;
  width: 80px;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  margin-right: 20px;
  font-size: 30px;
  color: var(--heading-color);
}
@media (max-width: 767.98px) {
  .medolia-choose-item .icon {
    margin-bottom: 20px;
  }
}
.medolia-choose-item .content h4 {
  margin-bottom: 15px;
}

/* Process Section CSS */
.medolia-process-item {
  background-color: var(--white-color);
  padding: 50px 30px 30px;
  border-radius: 10px;
  position: relative;
  text-align: center;
}
.medolia-process-item .step {
  position: absolute;
  top: -20px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: inline-block;
  border: 1px solid #CCC7C9;
  background-color: var(--white-color);
  padding: 7px 24px;
  line-height: 24px;
  border-radius: 40px;
  color: var(--heading-color);
}
.medolia-process-item .icon {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #FFB6C1;
  color: var(--heading-color);
  font-size: 36px;
  margin-bottom: 20px;
}
.medolia-process-item .content h4 {
  margin-bottom: 20px;
}
@media (max-width: 1650px) {
  .medolia-process-item .content h4 {
    font-size: 22px;
  }
}

/* Team Section CSS */
.medolia-team-item:hover .member-image .medolia-button {
  bottom: 30px;
}
.medolia-team-item .member-image {
  position: relative;
  overflow: hidden;
}
.medolia-team-item .member-image img {
  border-radius: 10px;
  width: 100%;
}
.medolia-team-item .member-image .medolia-button {
  position: absolute;
  bottom: -50%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.medolia-team-item .member-info {
  padding-top: 25px;
  text-align: center;
}
.medolia-team-item .member-info h4 {
  margin-bottom: 5px;
}
.medolia-team-item .member-info h4:hover {
  color: var(--primary-dark-color);
}

/* Testimonial Section CSS */
.testimonial-slider {
  margin-left: -15px;
  margin-right: -15px;
}
@media screen and (max-width: 991.98px) {
  .testimonial-slider {
    margin-left: -12px;
    margin-right: -12px;
  }
}
.testimonial-slider .slick-slide {
  margin-left: 15px;
  margin-right: 15px;
}
@media screen and (max-width: 991.98px) {
  .testimonial-slider .slick-slide {
    margin-left: 12px;
    margin-right: 12px;
  }
}

.medolia-author-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.medolia-author-box .author-thumbnail {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 60px;
  margin-right: 20px;
}
.medolia-author-box .author-thumbnail img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}
.medolia-author-box .author-info h5 {
  margin-bottom: 10px;
}

.medolia-testimonial-item {
  background-color: var(--white-color);
  padding: 40px;
  border-radius: 10px;
}
.medolia-testimonial-item .testimonial-content .rating-quote-item {
  margin-bottom: 29px;
}
.medolia-testimonial-item .testimonial-content .rating-quote-item .ratings i {
  color: #FFC813;
}
.medolia-testimonial-item .testimonial-content .rating-quote-item .quote i {
  font-size: 40px;
  color: #C4C6CC;
}
.medolia-testimonial-item .testimonial-content p {
  margin-bottom: 25px;
}

/* Blog Section CSS */
.medolia-post-item {
  border: 1px solid rgba(5, 4, 48, 0.1);
  border-radius: 10px;
}
.medolia-post-item .post-thumbnail img {
  width: 100%;
}
.medolia-post-item .post-content {
  padding: 30px;
}
.medolia-post-item .post-content .post-meta {
  margin-bottom: 15px;
}
.medolia-post-item .post-content .post-meta span {
  margin-bottom: 10px;
}
.medolia-post-item .post-content .post-meta span:not(:last-child) {
  margin-right: 25px;
}
.medolia-post-item .post-content .post-meta span i {
  margin-right: 10px;
}
.medolia-post-item .post-content h4 {
  margin-bottom: 20px;
}
@media screen and (max-width: 991.98px) {
  .medolia-post-item .post-content h4 {
    font-size: 20px;
    line-height: 30px;
  }
}
.medolia-post-item .post-content h4:hover {
  color: var(--primary-dark-color);
}
.medolia-post-item .post-content p {
  margin-bottom: 25px;
}
.medolia-post-item .post-content .read-more.style-one {
  text-decoration: underline;
}
.medolia-post-item .post-content .read-more.style-one:hover {
  color: var(--primary-dark-color);
}

/* CTA Section CSS */
.medolia-cta-sec .cta-wrapper {
  position: relative;
}
.medolia-cta-sec .cta-wrapper .shape {
  position: absolute;
}
@media screen and (max-width: 1199.98px) {
  .medolia-cta-sec .cta-wrapper .shape {
    display: none;
  }
}
.medolia-cta-sec .cta-wrapper .shape.shape-one {
  top: 0;
  left: 170px;
}
@media screen and (max-width: 1199.98px) {
  .medolia-cta-sec .cta-wrapper .shape.shape-one {
    left: 20px;
  }
}
.medolia-cta-sec .cta-wrapper .shape.shape-two {
  bottom: 60px;
  left: 0;
}
.medolia-cta-sec .cta-wrapper .shape.shape-three {
  top: 0;
  right: 170px;
}
@media screen and (max-width: 1199.98px) {
  .medolia-cta-sec .cta-wrapper .shape.shape-three {
    right: 20px;
  }
}
.medolia-cta-sec .cta-wrapper .shape.shape-four {
  bottom: 60px;
  right: 0;
}
.medolia-cta-sec .cta-wrapper .shape a {
  border: 1px solid var(--border-color);
  padding: 7px 15px;
  color: var(--white-color);
  border-radius: 30px;
  line-height: 1;
  background-color: var(--heading-color);
}
.medolia-cta-sec .cta-wrapper .medolia-content-box .form-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.medolia-cta-sec .cta-wrapper .medolia-content-box .form-group .form_control {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  max-width: 420px;
  width: 100%;
  padding: 10px 25px;
  border: 1px solid #CCC7C9;
  border-radius: 10px;
}
.medolia-cta-sec .cta-wrapper .medolia-content-box .form-group .theme-btn {
  margin-left: 20px;
}
@media (max-width: 767.98px) {
  .medolia-cta-sec .cta-wrapper .medolia-content-box .form-group .theme-btn {
    margin-left: 0;
    margin-top: 30px;
  }
}